pkgbase = kjagave-git
	pkgdesc = a color picker inspired by agave, but only with the features that kj_sh604 used
	pkgver = r7.260042d
	pkgrel = 1
	url = https://github.com/kj-sh604/kjagave
	arch = x86_64
	license = GPL2
	makedepends = go
	makedepends = git
	depends = gtk3
	optdepends = xcolor: for screen color picking
	optdepends = grabc: alternative for screen color picking
	provides = kjagave
	conflicts = kjagave
	source = git+https://github.com/kj-sh604/kjagave.git
	sha256sums = SKIP

pkgname = kjagave-git
