[Desktop Entry]
Version=1.0
Type=Application
Name=kjagave
GenericName=Color Picker
Comment=Pick and save colors with screen grabbing support
Exec=kjagave
Icon=kjagave
Terminal=false
Categories=Graphics;Utility;GTK;
Keywords=color;picker;palette;screen;grab;
StartupNotify=true
